################################################################################
# Local Git Ignore
#
# Author:   Franky Martinez <frankymartz@gmail.com>
# Version:  0.1.0
################################################################################
bin/

# Neovim
nvim/bundle/
nvim/tmp/
