################################################################################
# Local Git Ignore
#
# Author:   Franky Martinez <frankymartz@gmail.com>
# Version:  1.0.0
################################################################################

.DS_Store
bin/
NuGet/

# Neovim
nvim/.netrwhist
nvim/IsolatedStorage
nvim/Jetbrains
nvim/NuGet
nvim/SymbolSourceSymbols
nvim/autoload
nvim/bun
nvim/bundle
nvim/direnv
nvim/gem
nvim/nvim
nvim/prisma
nvim/pry
nvim/spell
nvim/tmp
nvim/yarn

# Environment
.env

# ZSHELL
zsh/zsh_plugins.sh

