################################################################################
# Local Git Ignore
#
# Author:   Franky Martinez <frankymartz@gmail.com>
# Version:  0.1.0
################################################################################

bin/
NuGet/

# Neovim
nvim/autoload/plug.vim
nvim/autoload/plug.vim.old
nvim/bundle/
nvim/tmp/
nvim/spell/
nvim/.netrwhist
nvim/nvim/


# Environment
.env

# ZSHELL
zsh/zsh_plugins.sh
